$primary: "primary" #FEAF00;
$seconday: "secondary" #F2EAE1;
$red: "red" #FA7566;
$white: "white" #FFFFFF;
$grey: "grey" #A0A0A0;
$black: "black" #3A3A3B;
$green: "green" #36B37E;


$colors: $primary $white $seconday $grey $red $black $green;

@each $c in $colors {
  .bg-#{nth($c, 1)} {
    background-color: #{nth($c, 2)} !important;
  }

  .hover-bg-#{nth($c, 1)} {
    &:hover {
      background-color: #{nth($c, 2)} !important;
    }
  }

  .hover-color-#{nth($c, 1)} {
    &:hover {
      color: #{nth($c, 2)} !important;
    }
  }

  .color-#{nth($c, 1)} {
    color: #{nth($c, 2)} !important;
  }

  .border-color-#{nth($c, 1)} {
    border-color: #{nth($c, 2)} !important;
  }
}
