$primary: "primary" #00CCB5;
$seconday: "secondary" #C7F2E7;
$cyan: "cyan" #3F8B83;
$red: "red" #F6A39A;
$white: "white" #FFFFFF;
$grey: "grey" #A0A0A0;

$colors: $primary $white $seconday $cyan $grey $red;

@each $c in $colors {
  .bg-#{nth($c, 1)} {
    background-color: #{nth($c, 2)} !important;
  }

  .hover-bg-#{nth($c, 1)} {
    &:hover {
      background-color: #{nth($c, 2)} !important;
    }
  }

  .hover-color-#{nth($c, 1)} {
    &:hover {
      color: #{nth($c, 2)} !important;
    }
  }

  .color-#{nth($c, 1)} {
    color: #{nth($c, 2)} !important;
  }

  .border-color-#{nth($c, 1)} {
    border-color: #{nth($c, 2)} !important;
  }
}
